{% extends "menu.html" %}{% block content %}{% set counter = namespace(value=0) %}
<div class="row">
  <div class="col">
    Base64 encoded profile to put into metadata :<br><br>
    <pre>
{{profile64|wordwrap(80)}}
    </pre>
    <hr>
    <br>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Profiles</h3>{% for key in profileJSON.profiles %}
    <b>{{key}}</b>
    <a href="/build/{{key}}"><i class="fa fa-pencil-alt"></i></a>
    <a href="/build/{{key}}?removeProfile"><i class="fas fa-trash"></i></a>
    <pre>
{{profileJSON.profiles[key] | tojson(2)}}</pre>{% endfor %}
  </div>
  <div class="col">
    <form method="POST">
      <div class="row">
        <div class="col">
          <label for="name">Name :</label>
          <input id="name" type="input" name="name" value="{{editProfile.name}}">
        </div>
      </div>
      <div class="row">
        <div class="col">
          Entities: {% if editProfile.name != '' %}<a href="/build/{{editProfile.name}}?addEntities"><i class="fa-solid fa-plus"></i></a>
        </div>
      </div>{% endif%}{% if editProfile.profile.entities %}{% set counter.value = 0 %}{% for entity in editProfile.profile.entities %}
      <div class="row">
        <div class="col-1">
          <a href="/build/{{editProfile.name}}?removeEntities={{counter.value}}"><i class="fas fa-trash"></i></a>
        </div>
        <div class="col border">
          <label for="select_{{counter.value}}">Select :</label>
          <input id="select_{{counter.value}}" type="input" name="select_{{counter.value}}" value="{{entity.select}}">
          <br>
          <label for="match_{{counter.value}}">Match :</label>
          <select id="match_{{counter.value}}" name="match_{{counter.value}}">
            <option value="registrationAuthority"{% if entity.match == 'registrationAuthority' %} selected{% endif %}>registrationAuthority</option>
            <option value="entity_category"{% if entity.match == 'entity_category' %} selected{% endif %}>entity_category</option>
            <option value="assurance_certification"{% if entity.match == 'assurance_certification' %} selected{% endif %}>assurance_certification</option>
            <option value="entity_category_support"{% if entity.match == 'entity_category_support' %} selected{% endif %}>entity_category_support</option>
            <option value="md_source"{% if entity.match == 'md_source' %} selected{% endif %}>md_source</option>
          </select>
          <br>
          <label for="entities_include_{{counter.value}}">Include :</label>
          <select id="entities_include_{{counter.value}}" name="entities_include_{{counter.value}}">
            <option value="true"{% if entity.include %} selected{% endif %}>True</option>
            <option value="false"{% if not entity.include %} selected{% endif %}>False</option>
          </select>
          <br>
        </div>
      </div>{% set counter.value = counter.value + 1 %}{% endfor %}{% endif%}
      <div class="row">
        <div class="col">
          Entity: {% if editProfile.name != '' %}<a href="/build/{{editProfile.name}}?addEntity"><i class="fa-solid fa-plus"></i></a>{% endif%}
        </div>
      </div>{% if editProfile.profile.entity %}{% set counter.value = 0 %}{% for entity in editProfile.profile.entity %}
      <div class="row">
        <div class="col-1">
          <a href="/build/{{editProfile.name}}?removeEntity={{counter.value}}"><i class="fas fa-trash"></i></a>
        </div>
        <div class="col border">
          <label for="entity_id_{{counter.value}}">Entity_id :</label>
          <input id="entity_id_{{counter.value}}" type="input" name="entity_id_{{counter.value}}" value="{{entity.entity_id}}">
          <br>
          <label for="entity_include_{{counter.value}}">Include :</label>
          <select id="entity_include_{{counter.value}}" name="entity_include_{{counter.value}}">
            <option value="true"{% if entity.include %} selected{% endif %}>True</option>
            <option value="false"{% if not entity.include %} selected{% endif %}>False</option>
          </select>
          <br>
        </div>
      </div>{% set counter.value = counter.value + 1 %}{% endfor %}{% endif%}
      <div class="row">
        <div class="col">
          <label for="strict">strict :</label>
          <select id="strict" name="strict">
            <option value="true"{% if editProfile.profile.strict %} selected{% endif %}>True</option>
            <option value="false"{% if not editProfile.profile.strict %} selected{% endif %}>False</option>
          </select>
        </div>
      </div>
      <input type="submit">
    </form>
  </div>
</div>
{% endblock %}